force-app/main/default/flows/GenAI_Voice_Analysis_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Analyze_Voice_Transcript_using_AI</name>
        <label>Analyze Voice Transcript using AI</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Nettbil_Voice_AI_Analysis</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_and_update_Voice_Call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:VoiceCall</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nettbil_Voice_AI_Analysis</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_and_update_Voice_Call</name>
        <label>Parse and update Voice Call</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>GenAI_VoiceCall_Insights_Parser</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonInput</name>
            <value>
                <elementReference>Analyze_Voice_Transcript_using_AI.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voiceCallId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenAI_VoiceCall_Insights_Parser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>GenAI Voice Analysis Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenAI Voice Analysis Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Analyze_Voice_Transcript_using_AI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallEndDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
